<div id="main" class="car-main car">
    <section>
      <div class="car-grid-container">
        <!-- figure used to be able to have the image and the description together -->
        <figure class="special-pick">
          <img
            src="images/cars/pexels-batuhan-kocabas-123879152-11951586.jpg"
            alt="Kobacas car"
          >
        </figure>
        <figure>
          <img
            src="images/cars/pexels-arthur-1763361040-28161308.jpg"
            alt="Author car"
          >
        </figure>
        <figure>
          <img
            src="images/cars/pexels-derio-14453705.jpg"
            alt="Deric car"
          >
        </figure>
        <figure>
          <img
            src="images/cars/pexels-helen-alp-46790226-14545978.jpg"
            alt="Helen car"
          >
        </figure>
        <figure>
          <img
            src="images/cars/pexels-ivo-mukkulainen-1617629-6389581.jpg"
            alt="Makulalein car"
          >
        </figure>
        <figure>
          <img
            src="images/cars/pexels-jakewymoore-12522915.jpg"
            alt="Jakewymoore car"
          >
        </figure>
        <figure>
          <img
            src="images/cars/pexels-lemmer-27016241.jpg"
            alt="lemmer car"
          >
        </figure>

        <figure>
          <img
            src="images/cars/pexels-robert-price-9994326-16193288.jpg"
            alt="Robert car"
          >
        </figure>

        <figure>
          <img
            src="images/cars/pexels-vadutskevich-16180536.jpg"
            alt="Vadutskevich car"
          >
        </figure>
        <figure>
          <img
            src="images/cars/pexels-sergey-platonov-114873806-10209499.jpg"
            alt="Sergey car"
          >
        </figure>
      </div>
    </section>
</div>
