.list {
    padding: 20px;
    height: 100%;
    overflow: scroll;
}

.close {
    font-weight: 800;
    position: absolute;
    left: 75%;
}

p {
    font-weight: 800;
    margin-bottom: 5px;
    color: green;
}

.rv-item {
    background: #fff;
    padding: 5px;
    border-bottom: 2px solid #222;
    margin-bottom: 10px;
    width: 89%;
    padding-bottom: 20px;
}

.no-review-error {
    color: red;
    display: inline-block;
    background: #fff;
    margin-top: 70px;
    width: 90%;
  }
  