.list {
    padding: 20px;
}

.close {
    font-weight: 800;
    position: relative;
    left: 50%;
}

p {
    font-weight: 800;
    margin-bottom: 5px;
}

.rv-item {
    background: #fff;
    padding: 5px;
    border-bottom: 2px solid #222;
    margin-bottom: 10px;
    width: 89%;
}