<div class="new-join list pr-details">
    <div class="join-form">
        <span (onKeyUp)="closeReview()" (click)="closeReview()" class="close">X (close)</span>
        @if (data.length > 0) {
        @for(rv of data; track rv.uniqueId) {
           <app-review-list-item [eachReview]="rv"></app-review-list-item>
           

               
        
        } 
        }@else {
            <span class="no-review-error">No Review yet for this item! Click on the "Review product" button to be the first reviewer.</span>
        }

    </div>

</div>