<div class="new-join list pr-details">
    <div class="join-form">
        <span (click)="closeReview()" class="close">X (close)</span>
        @if (data.length > 0) {
        @for(rv of data; track rv.uniqueId) {
           
                <div class="rv-item">
                    <p>Reviewed by:</p>
                    <span>{{rv.review.name}}</span>
                    <p>Reviews:</p>
                    <span>{{rv.review.reviews}}</span>
                </div>

               
        
        } 
        }@else {
            <span class="no-review-error">No Review yet for this item! Click on the "Review product" button to be the first reviewer.</span>
        }

    </div>

</div>