.office {
  width: 500px;
  margin: 0 auto;
  height: 100vh;
}

.office img {
  width: 100%;
  height: auto;
  opacity: 0.3;
}

:host ::ng-deep .hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 80% 105% !important;
}
